@import 'tailwindcss';
@import './styles/fonts.css';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Fonts */
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-bis: 'Geist', sans-serif;
  --font-ter: 'Satoshi-Variable', sans-serif;

  /* Colors */

  --color-text-primary-light: oklch(21% 0.006 285.885); /* zinc-900 */
  --color-text-secondary-light: oklch(37% 0.013 285.805); /* zinc-700 */
  --color-bg-primary-light: oklch(21% 0.006 285.885); /* zinc-900 */
  --color-bg-secondary-light: oklch(70.5% 0.015 286.067); /* zinc-400 */
  --color-accent-primary-light: oklch(37% 0.013 285.805); /* zinc-700 */
  --color-bg-global-primary-light: oklch(98.5% 0 0); /* zinc-50 */
  --color-bg-global-secondary-light: oklch(96.7% 0.001 286.375); /* zinc-100 */
  --color-border-primary-light: oklch(92% 0.004 286.32); /* zinc-200 */

  --color-text-primary-dark: oklch(96.7% 0.001 286.375); /* zinc-100 */
  --color-text-primary-dark: oklch(70.5% 0.015 286.067); /* zinc-400 */
  --color-bg-primary-dark: oklch(96.7% 0.001 286.375); /* zinc-100 */
  --color-bg-secondary-dark: oklch(87.1% 0.006 286.286); /* zinc-300 */
  --color-accent-primary-dark: oklch(87.1% 0.006 286.286); /* zinc-300 */
  /* --color-accent: oklch(70% 0.08 210);  */ /* alt version - cold blue */
  --color-bg-global-primary-dark: oklch(14.1% 0.005 285.823); /* zinc-950 */
  --color-bg-global-secondary-dark: oklch(21% 0.006 285.885); /* zinc-900 */
  --color-border-primary-dark: oklch(44.2% 0.017 285.786); /* zinc-600 */

  /* Colors extra - cf notes mac */
}

@layer base {
  html {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer components {
  .text-primary {
    color: var(--color-text-primary-light);
  }

  .dark .text-primary {
    color: var(--color-text-primary-dark);
  }

  .text-secondary {
    color: var(--color-text-secondary-light);
  }

  .dark .text-secondary {
    color: var(--color-text-secondary-dark);
  }

  .bg-primary {
    background-color: var(--color-bg-primary-light);
  }

  .dark .bg-primary {
    background-color: var(--color-bg-primary-dark);
  }

  .bg-secondary {
    background-color: var(--color-bg-secondary-light);
  }

  .dark .bg-secondary {
    background-color: var(--color-bg-secondary-dark);
  }

  .accent-primary {
    accent-color: var(--color-accent-primary-light);
  }

  .dark .accent-primary {
    accent-color: var(--color-accent-primary-dark);
  }

  .border-primary {
    border-color: var(--color-border-primary-light);
  }

  .dark .border-primary {
    border-color: var(--color-border-primary-dark);
  }

  .bg-global-primary {
    background-color: var(--color-bg-global-primary-light);
  }

  .dark .bg-global-primary {
    background-color: var(--color-bg-global-primary-dark);
  }

  .bg-global-secondary {
    background-color: var(--color-bg-global-secondary-light);
  }

  .dark .bg-global-secondary {
    background-color: var(--color-bg-global-secondary-dark);
  }
}
