@import 'tailwindcss';
@import './styles/fonts.css';

@theme {
  --font-heading: 'Satoshi-Variable', 'sans-serif';
  --font-body: 'Inter', 'sans-serif';
  --font-alt: 'Geist', 'sans-serif';
  --font-bis: 'Montserrat', 'sans-serif';
}

/* Faire toutes les couleurs dans theme */
@theme {
  --color-primary-light: #ffffff;
  --color-primary-dark: #05151e;
  --color-debug: #ff00ff;
}
