@import 'tailwindcss';
@import './styles/fonts.css';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Fonts */
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-bis: 'Geist', sans-serif;
  --font-ter: 'Satoshi-Variable', sans-serif;

  /* Colors */

  --color-text-primary-light: var(--color-primary-light); /* zinc-900 */
  --color-text-secondary-light: oklch(37% 0.013 285.805); /* zinc-700 */
  --color-text-invert-light: oklch(96.7% 0.001 286.375); /* zinc-100 */
  --color-primary-light: oklch(21% 0.006 285.885); /* zinc-900 */
  --color-secondary-light: oklch(70.5% 0.015 286.067); /* zinc-400 */
  --color-accent-primary-light: oklch(70% 0.18 250);
  --color-bg-global-primary-light: oklch(98.5% 0 0); /* zinc-50 */
  --color-bg-global-secondary-light: oklch(96.7% 0.001 286.375); /* zinc-100 */
  --color-border-primary-light: oklch(87.1% 0.006 286.286); /* zinc-300 */
  --color-toggle-light: var(--color-primary-light);
  --color-btn-primary-hover-light: oklch(85% 0.015 270);

  --color-text-primary-dark: var(--color-primary-dark); /* zinc-100 */
  --color-text-secondary-dark: oklch(70.5% 0.015 286.067); /* zinc-400 */
  --color-text-invert-dark: oklch(21% 0.006 285.885); /* zinc-900 */
  --color-primary-dark: oklch(96.7% 0.001 286.375); /* zinc-100 */
  --color-secondary-dark: oklch(87.1% 0.006 286.286); /* zinc-300 */
  --color-accent-primary-dark: oklch(45% 0.18 250);
  --color-bg-global-primary-dark: oklch(14.1% 0.005 285.823); /* zinc-950 */
  --color-bg-global-secondary-dark: oklch(21% 0.006 285.885); /* zinc-900 */
  --color-border-primary-dark: oklch(44.2% 0.017 285.786); /* zinc-600 */
  --color-toggle-dark: var(--color-primary-dark);
  --color-btn-primary-hover-dark: oklch(40% 0.15 250);

  /* Accent  */
  /* blue */
  --color-accent-light: oklch(70% 0.18 250);
  --color-accent-dark: oklch(45% 0.18 250);
  /* orange */
  /* --color-accent-light: oklch(75% 0.12 45);
  --color-accent-dark: oklch(55% 0.14 45); */

  /* Animations */

  --animate-fade-in-delay: fade-in-delay 1.5s ease-in-out;

  @keyframes fade-in-delay {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@layer base {
  html {
    font-family: var(--font-body);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  body {
    cursor: none;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

@layer components {
  .transition-theme {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  .text-primary {
    color: var(--color-text-primary-light);
  }

  .dark .text-primary {
    color: var(--color-text-primary-dark);
  }

  .text-secondary {
    color: var(--color-text-secondary-light);
  }

  .dark .text-secondary {
    color: var(--color-text-secondary-dark);
  }

  .text-invert {
    color: var(--color-text-invert-light);
  }

  .dark .text-invert {
    color: var(--color-text-invert-dark);
  }

  .bg-primary {
    background-color: var(--color-primary-light);
  }

  .dark .bg-primary {
    background-color: var(--color-primary-dark);
  }

  .bg-secondary {
    background-color: var(--color-secondary-light);
  }

  .dark .bg-secondary {
    background-color: var(--color-secondary-dark);
  }

  .accent-primary {
    accent-color: var(--color-accent-primary-light);
  }

  .dark .accent-primary {
    accent-color: var(--color-accent-primary-dark);
  }

  .border-primary {
    border-color: var(--color-border-primary-light);
  }

  .dark .border-primary {
    border-color: var(--color-border-primary-dark);
  }

  .bg-global-primary {
    background-color: var(--color-bg-global-primary-light);
  }

  .dark .bg-global-primary {
    background-color: var(--color-bg-global-primary-dark);
  }

  .bg-global-secondary {
    background-color: var(--color-bg-global-secondary-light);
  }

  .dark .bg-global-secondary {
    background-color: var(--color-bg-global-secondary-dark);
  }

  .btn-primary {
    background-color: var(--color-primary-light);
    color: var(--color-text-invert-light);
    border: 1px solid var(--color-border-primary-light);
  }

  .btn-primary:hover {
    background-color: var(--color-btn-primary-hover-light);
    color: var(--color-primary-light);
  }

  .dark .btn-primary {
    background-color: var(--color-primary-dark);
    color: var(--color-text-invert-dark);
    border-color: var(--color-border-primary-dark);
  }

  .dark .btn-primary:hover {
    background-color: var(--color-btn-primary-hover-dark);
    color: var(--color-text-invert-light);
  }

  .btn-secondary {
    background-color: transparent;
    color: var(--color-primary-light);
    border: 1px solid var(--color-border-primary-light);
  }

  .btn-secondary:hover {
    background-color: var(--color-bg-global-secondary-light);
    color: var(--color-primary-light);
  }

  .dark .btn-secondary {
    background-color: transparent;
    color: var(--color-primary-dark);
    border-color: var(--color-border-primary-dark);
  }

  .dark .btn-secondary:hover {
    background-color: var(--color-bg-global-secondary-dark);
    color: var(--color-primary-dark);
  }
}
